@charset "UTF-8";
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
}

a, address, article, aside, audio, b, big, blockquote, body, button, caption, center, cite, code, dd, details, div, dl, dt, em, fieldset, figcaption, figure, footer, form, form, h1, h2, h3, h4, h5, h6, header, i, iframe, img, input, label, li, main, mark, menu, nav, ol, p, pre, q, s, section, select, small, span, strong, summary, table, tbody, td, textarea, tfoot, th, thead, time, tr, u, ul, video {
    margin: 0;
    padding: 0;
    font-size: inherit;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline-width: 0;
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0;
}

button,
input,
select {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
    cursor: pointer;
}

[disabled] {
    cursor: default;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button:-moz-focusring,
input:-moz-focusring {
    outline: 1px dotted ButtonText;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}

body {
    font-family: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

[type="button"],
[type="reset"],
[type="submit"],
a,
a img,
button {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
    font-size: 1.4rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background: rgba(0, 0, 0, 0) url("../images/bg.jpg");
    text-align: left;
    color: #3F2310;
    line-height: 1.4;
    padding-top: 126px;
}

a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
    opacity: 0.8;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.font12 {
    font-size: 1.2rem;
}

#rakutenLimitedId_header {
    display: none !important;
}

table.calbase_rakuten {
    width: 215px !important;
}

table.calframe_rakuten {
    width: 190px !important;
}

/*楽天商品詳細　動画用css*/
.RVideoPF-Player-Html5Player {
    width: 300px !important;
}


/*======================================================
	楽天rms用
======================================================*/
/*このショップの人気商品ランキング*/
#rnkInShopPartsArea {
    width: 98% !important;
}

/*この商品を買った人は、こんな商品にも興味を持っています*/
#rakutenLimitedId_inshop_recommend {
    width: 98% !important;
}

/*メインコンテンツ部分*/
#pagebody > table:nth-child(5) > tbody > tr > td > table:nth-child(2) {
    width: 1200px !important;
    margin: 0 auto 50px !important;
}

/*商品情報部分*/
#pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) {
    padding: 30px !important;
    background: #FFF !important;
    width: 950px !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
    vertical-align: top !important;
    font: normal !important;
}

#pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) > table {
    width: 900px !important;
}

#pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) th, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) td, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) tbody, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) table, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) img, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) a, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) div, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) p, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) form, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) span, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) ul, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) li, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) dd, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) dt, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) dl, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) input, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) buttom, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) textarea, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) select, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) textarea, #pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) span {
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
    vertical-align: top !important;
    font: normal !important;
}

#pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) a {
    color: #216ECC !important;
    text-decoration: underline !important;
    font-size: 100% !important;
}

#pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) span {
    font-size: 100% !important;
}

/*商品情報説明部分*/
#pagebody > table > tbody > tr > td > table:nth-child(2) > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3) > table:nth-child(2) > tbody > tr > td > table:nth-child(5) > tbody > tr > td:nth-child(3) {
    width: 515px !important;
}

.rCartBtn {
    background-repeat: no-repeat !important;
}

span.catch_copy {
    max-width: 500px !important;
    display: block;
}

span.item_name {
    max-width: 500px !important;
    display: block;
}

/*----------定期購入ボタン----------*/
#normal_basket_10000393_teiki > tbody > tr > td:nth-child(3) > input:nth-child(8) {
    background: #DA3C14 !important;
    padding: 10px 20px !important;
    color: #FFF !important;
    cursor: pointer !important;
    border-radius: 3px;
    border: medium none !important;
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif !important;
}

#normal_basket_10000393_teiki > tbody > tr > td:nth-child(3) > input:nth-child(8):hover {
    background: #EC5B37 !important;
}

/*----------サブページ　レビュー----------*/
.sub-page__review {
    float: right;
    margin: 30px 25px 30px 0;
    overflow: hidden;
    width: 930px;
}

.sub-page__review__ttl {
    background: rgba(0, 0, 0, 0) url("../images/content-title-bg.gif") repeat-x scroll center bottom;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 1px 0 10px 40px;
    position: relative;
}

.sub-page__review__ttl:before {
    content: "";
    height: 34px;
    left: 0;
    position: absolute;
    top: 0;
    width: 34px;
    background: rgba(0, 0, 0, 0) url("../images/icon-review-title.gif") no-repeat scroll 0 0;
}

.sub-page__review__cont {
    background: #fff none repeat scroll 0 0;
    padding: 15px;
}

.sub-page__review__cont .arahata_rreview_984 {
    font-family: "Hiragino Kaku Gothic ProN","メイリオ",sans-serif;
}

/*----------スライドバナー部分----------*/
.region_body .frame_contents {
    left: 52% !important;
}

/*----------サブページ　楽天ランキング・リアルタイム注文----------*/
.sub-page__cont {
    float: right;
    margin: 30px 25px 30px 0;
    overflow: hidden;
    width: 930px;
}

.sub-page__cont__r-rank {
    width: 450px;
    float: left;
}

.sub-page__cont__r-rank__ttl {
    background: rgba(0, 0, 0, 0) url("../images/content-title-bg.gif") repeat-x scroll center bottom;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 1px 0 10px 40px;
    position: relative;
}

.sub-page__cont__r-rank__ttl:before {
    content: "";
    height: 34px;
    left: 0;
    position: absolute;
    top: 0;
    width: 34px;
    background: rgba(0, 0, 0, 0) url("../images/icon-r-rank-title.gif") no-repeat scroll 0 0;
}

.sub-page__cont__r-rank__cont {
    background: #fff none repeat scroll 0 0;
    padding: 15px;
}

.sub-page__cont__r-rank__cont .arahata_rreview_984 {
    font-family: "Hiragino Kaku Gothic ProN","メイリオ",sans-serif;
}

.sub-page__cont__order {
    width: 450px;
    float: right;
}

.sub-page__cont__order__ttl {
    background: rgba(0, 0, 0, 0) url("../images/content-title-bg.gif") repeat-x scroll center bottom;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 1px 0 10px 40px;
    position: relative;
}

.sub-page__cont__order__ttl:before {
    content: "";
    height: 34px;
    left: 0;
    position: absolute;
    top: 0;
    width: 34px;
    background: rgba(0, 0, 0, 0) url("../images/icon-order-title.gif") no-repeat scroll 0 0;
}

.sub-page__cont__order__cont {
    background: #fff none repeat scroll 0 0;
    padding: 15px;
}

.sub-page__cont__order__cont .arahata_rreview_984 {
    font-family: "Hiragino Kaku Gothic ProN","メイリオ",sans-serif;
}

/*商品詳細　チェックボタン用table*/
.skuDisplayTable .floating-cart-sku-table td.inventory_choice_name {
    background-color: #F6F6F6 !important;
    border: #ccc solid 1px !important;
    color: #000000 !important;
}

.skuDisplayTable .floating-cart-sku-table td.inventory_choice_name span {
    border: none !important;
    color: #000000 !important;
}

.skuDisplayTable .floating-cart-sku-table .inventory {
    background-color: #FFF !important;
    border: #ccc solid 1px !important;
    padding: 10px 5px !important;
}

.skuDisplayTable .floating-cart-sku-table .inventory span {
    border: none !important;
    color: #000000 !important;
}

/*======================================================
	トップヘッダー
======================================================*/
.header-top {
    background: #3C5829;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2147483647;
}

.header-top .inner {
    position: relative;
}

.header-top__nav-area {
    overflow: hidden;
    padding: 15px 0 20px;
    width: 100%;
}

.header-top__banner-arera {
    left: -80px;
    position: absolute;
    top: 10px;
    width: 350px;
}

.header-top .header-top__nav {
    float: right;
    margin-right: 10px;
    margin-top: 6px;
}

.header-top .header-top__nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.header-top .header-top__nav__list__list {
    position: relative;
    line-height: 1.5;
    margin: 0 8px;
    padding: 0 10px 0 26px;
}

.header-top .header-top__nav__list__list:before {
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 1px;
}

.header-top .header-top__nav__list__list.list-home:before {
    background: url("../images/top_01.png");
}

.header-top .header-top__nav__list__list.list-postage:before {
    background: url("../images/top_02.png");
}

.header-top .header-top__nav__list__list.list-question:before {
    background: url("../images/top_03.png");
}

.header-top .header-top__nav__list__list.list-company:before {
    background: url("../images/top_04.png");
}

.header-top .header-top__nav__list__list.list-cart:before {
    background: url("../images/top_05.png");
}

.header-top .header-top__nav__list__list.list-rakuten:before {
    background: url("../images/top_06.png");
}

.header-top .header-top__nav__list__list a {
    color: #FFF;
    font-size: 1.2rem;
}

.header-top .header-top__nav__list__list a:hover {
    color: #d93b13;
}

.header-top .header-top__search {
    float: right;
    background: #FFF;
    padding: 1px;
    margin-top: 5px;
}

.header-top .header-top__search .text {
    float: left;
    width: 200px;
    height: 22px;
    text-indent: 6px;
    margin-right: 5px;
    border: none !important;
    padding: 2px 0 0;
}

.header-top .header-top__search input {
    border: none !important;
}

.header-top .header-top__search .btn {
    float: left;
}

.header-top .hedder-banner {
    background: #C01921;
    text-align: center;
}

.header-top .hedder-banner img {
    max-width: 967px;
    margin: 0 auto;
    width: 100%;
}

/*======================================================
	ヘッダー
======================================================*/
.header .inner {
    overflow: hidden;
    padding: 20px 0;
}

.header__l {
    float: left;
    overflow: hidden;
}

.header__r {
    float: right;
    overflow: hidden;
}

.header__logo {
    float: left;
    margin: 0 5px;
}

.header__award {
    float: left;
    margin: 0 5px;
    overflow: hidden;
}

.header__award__img {
    float: left;
}

.header__award__txt {
    color: #3f2210;
    float: left;
    letter-spacing: -0.05rem;
    line-height: 1.5;
    padding: 15px 0 0 5px;
    text-align: left;
    width: 290px;
    font-size: 1.2rem;
}

.header__postage {
    float: right;
    margin: 0 5px;
}

.header__date {
    float: right;
    margin: 0 5px;
    background: url("../images/header-date_bg.png") no-repeat;
    width: 190px;
    height: 64px;
    padding: 27px 0 0;
    text-align: center;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-weight: bold;
}

.header__date p {
    font-size: 1.8rem;
}

.header__date p span {
    font-size: 2.4rem;
    margin-top: 2px;
}

.header .top-content {
    width: 1190px;
    margin: 0 auto;
}

.header .top-content .content__cont {
    margin: 10px auto;
}

.header .top-content__ttl {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.header .top-content__price {
    width: 660px;
    float: left;
}

.header .top-content__price__btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 7px;
}

.header .top-content__price__btn__list {
    margin-right: 10px;
}

.header .top-content__price__btn__list:last-child {
    margin-right: 0;
}

.header .top-content__price__btn__list a {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.header .top-content .point-banner {
    width: 520px;
    float: right;
    text-align: right;
    padding: 0;
}

.header .top-content .point-banner__cont {
    overflow: hidden;
}

.header .top-content .point-banner__cont .arahata_pointup_131 {
    text-align: left;
    margin: -8px 0 0 -100px;
    height: 74px;
}

/*======================================================
	グロナビ
======================================================*/
.gnav {
    position: relative;
}

.gnav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.gnav__list__list__img {
    display: block;
    padding: 10px 0;
}

.gnav__list__list:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.gnav__list__list:hover .gnav__second-level {
    visibility: visible;
}

.gnav__list__list .gnav__second-level {
    visibility: hidden;
    z-index: 1000;
    position: absolute;
    top: 65px;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 30px 0 10px 0;
    background-color: rgba(255, 255, 255, 0.9);
    /*6カラム*/
    /*朝美人革命*/
    /*べにふうき*/
}

.gnav__list__list .gnav__second-level__inner {
    width: 1020px;
    margin: 0 auto;
}

.gnav__list__list .gnav__second-level__nav {
    overflow: hidden;
}

.gnav__list__list .gnav__second-level__nav__list {
    float: left;
    margin: 0 30px 20px 0;
    width: 180px;
}

.gnav__list__list .gnav__second-level__nav__list:nth-child(5n) {
    margin-right: 0;
}

.gnav__list__list .gnav__second-level__nav__list__txt {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0 0;
}

.gnav__list__list .gnav__second-level__nav__list__txt:hover {
    color: #D93B13;
}

.gnav__list__list .gnav__second-level__nav__list a {
    -webkit-transition: none !important;
    transition: none !important;
}

.gnav__list__list .gnav__second-level__nav__list a img {
    -webkit-transition: none !important;
    transition: none !important;
}

.gnav__list__list .gnav__second-level.second-level__6col__inner {
    overflow: hidden;
}

.gnav__list__list .gnav__second-level.second-level__6col .gnav__second-level__nav {
    overflow: hidden;
}

.gnav__list__list .gnav__second-level.second-level__6col .gnav__second-level__nav__list {
    float: left;
    margin: 0 30px 20px 0;
    width: 145px;
}

.gnav__list__list .gnav__second-level.second-level__6col .gnav__second-level__nav__list:nth-child(6n) {
    margin-right: 0;
}

.gnav__list__list .gnav__second-level.second-level__6col .gnav__second-level__nav__list__txt {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0 0;
}

.gnav__list__list .gnav__second-level.second-level__6col .gnav__second-level__nav__list__txt:hover {
    color: #D93B13;
}

.gnav__list__list .gnav__second-level.second-level__6col .gnav__second-level__nav__list a {
    -webkit-transition: none !important;
    transition: none !important;
}

.gnav__list__list .gnav__second-level.second-level__6col .gnav__second-level__nav__list a img {
    -webkit-transition: none !important;
    transition: none !important;
}

.gnav__list__list .gnav__second-level.second-level__asabijin__inner {
    overflow: hidden;
}

.gnav__list__list .gnav__second-level.second-level__asabijin .gnav__second-level__l {
    float: left;
    width: 630px;
}

.gnav__list__list .gnav__second-level.second-level__asabijin .gnav__second-level__l .gnav__second-level__nav {
    overflow: hidden;
}

.gnav__list__list .gnav__second-level.second-level__asabijin .gnav__second-level__l .gnav__second-level__nav__list {
    float: left;
    margin: 0 30px 20px 0;
    width: 135px;
}

.gnav__list__list .gnav__second-level.second-level__asabijin .gnav__second-level__l .gnav__second-level__nav__list:nth-child(4n) {
    margin-right: 0;
}

.gnav__list__list .gnav__second-level.second-level__asabijin .gnav__second-level__l .gnav__second-level__nav__list__txt {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0 0;
}

.gnav__list__list .gnav__second-level.second-level__asabijin .gnav__second-level__l .gnav__second-level__nav__list__txt:hover {
    color: #D93B13;
}

.gnav__list__list .gnav__second-level.second-level__asabijin .gnav__second-level__l .gnav__second-level__nav__list a {
    -webkit-transition: none !important;
    transition: none !important;
}

.gnav__list__list .gnav__second-level.second-level__asabijin .gnav__second-level__l .gnav__second-level__nav__list a img {
    -webkit-transition: none !important;
    transition: none !important;
}

.gnav__list__list .gnav__second-level.second-level__asabijin .gnav__second-level__r {
    float: right;
    width: 360px;
}

.gnav__list__list .gnav__second-level.second-level__asabijin .gnav__second-level__r .gnav__second-level__nav__list__img a {
    -webkit-transition: none !important;
    transition: none !important;
}

.gnav__list__list .gnav__second-level.second-level__asabijin .gnav__second-level__r .gnav__second-level__nav__list__img a img {
    -webkit-transition: none !important;
    transition: none !important;
}

.gnav__list__list .gnav__second-level.second-level__benifuki__inner {
    overflow: hidden;
}

.gnav__list__list .gnav__second-level.second-level__benifuki .gnav__second-level__l {
    float: left;
    width: 290px;
    margin: 0 30px 20px 0;
}

.gnav__list__list .gnav__second-level.second-level__benifuki .gnav__second-level__l img {
    -webkit-transition: none !important;
    transition: none !important;
}

.gnav__list__list .gnav__second-level.second-level__benifuki .gnav__second-level__r {
    float: left;
    width: 630px;
    margin-top: 35px;
}

.gnav__list__list .gnav__second-level.second-level__benifuki .gnav__second-level__r .gnav__second-level__nav {
    overflow: hidden;
}

.gnav__list__list .gnav__second-level.second-level__benifuki .gnav__second-level__r .gnav__second-level__nav__list {
    float: left;
    margin: 0 30px 20px 0;
    width: 135px;
}

.gnav__list__list .gnav__second-level.second-level__benifuki .gnav__second-level__r .gnav__second-level__nav__list:nth-child(4n) {
    margin-right: 0;
}

.gnav__list__list .gnav__second-level.second-level__benifuki .gnav__second-level__r .gnav__second-level__nav__list__txt {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0 0;
}

.gnav__list__list .gnav__second-level.second-level__benifuki .gnav__second-level__r .gnav__second-level__nav__list__txt:hover {
    color: #D93B13;
}

.gnav__list__list .gnav__second-level.second-level__benifuki .gnav__second-level__r .gnav__second-level__nav__list a {
    -webkit-transition: none !important;
    transition: none !important;
}

.gnav__list__list .gnav__second-level.second-level__benifuki .gnav__second-level__r .gnav__second-level__nav__list a img {
    -webkit-transition: none !important;
    transition: none !important;
}

/*======================================================
	サイドエリア
======================================================*/
.content {
    margin: 40px auto;
}

.side-content {
    width: 216px;
    float: left;
}

.side-content__ttl {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 5px 0;
    background: url("../images/content-title-bg.gif") repeat-x bottom center;
    position: relative;
    padding: 1px 0 10px 40px;
}

.side-content__ttl:before {
    content: "";
    width: 34px;
    height: 34px;
    left: 0;
    top: 0;
    position: absolute;
}

.side-content__banner > div {
    margin: 0 0 20px;
}

.side-content__banner > div:last-child {
    margin: 0;
}

.side-content__btn {
    margin: 10px 0 5px;
    text-align: right;
}

.side-content__btn a {
    padding: 8px 25px 8px 20px;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    background: #DA3C14;
    border-radius: 3px;
    font-size: 1.2rem;
}

.side-content__btn a:hover {
    background: #ED5A36;
}

.side-content__btn a:after {
    display: inline-block;
    content: "\f054";
    font-family: 'FontAwesome';
    color: #FFFFFF;
    font-size: 0.8rem;
    top: 35%;
    right: 7px;
    position: absolute;
}

.side-content__category .side-content__ttl:before {
    background: url("../images/icon-category-title.gif");
}

.side-content__news .side-content__ttl:before {
    background: url("../images/icon-news-title.gif");
}

.side-content__category__nav {
    width: 100%;
}

.side-content__category__nav__list {
    background: #FFF;
    margin: 2px 0;
    position: relative;
}

.side-content__category__nav__list:before {
    content: "";
    background: url("../images/point-ya-right.png");
    color: #3C5829;
    top: 40%;
    left: 15px;
    position: absolute;
    width: 10px;
    height: 10px;
}

.side-content__category__nav__list a {
    display: block;
    padding: 15px 0 15px 30px;
    position: relative;
}

.side-content__category__nav__list .category__secondnav {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 216px;
    width: 500px;
    min-height: 300px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.95);
    border: #FCF1C9 1px solid;
    z-index: 10000000;
}

.side-content__category__nav__list .category__secondnav__list {
    margin: 2px 0;
    position: relative;
    font-size: 1.2rem;
}

.side-content__category__nav__list .category__secondnav__list:before {
    content: "";
    background: url("../images/point-ya-right.png");
    color: #3C5829;
    top: 40%;
    left: 15px;
    position: absolute;
    width: 10px;
    height: 10px;
}

.side-content__category__nav__list .category__secondnav__list a {
    display: block;
    padding: 10px 0 10px 30px;
    position: relative;
    -webkit-transition: none !important;
    transition: none !important;
}

.side-content__category__nav__list .category__secondnav__list:hover {
    background-color: rgba(251, 241, 202, 0.5);
}

.side-content__category__nav__list .category__secondnav.category__secondnav-2col {
    overflow: hidden;
    padding-bottom: 200px;
}

.side-content__category__nav__list .category__secondnav.category__secondnav-2col .category__secondnav__list {
    width: 50%;
    float: left;
}

.side-content__category__nav__list .category__secondnav.category__secondnav-3col {
    overflow: hidden;
    width: 800px;
    padding-bottom: 200px;
}

.side-content__category__nav__list .category__secondnav.category__secondnav-3col .category__secondnav__list {
    width: 33%;
    float: left;
}

.side-content__category__nav__list .category__secondnav.snav01 {
    background-image: url("../images/snav01-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.9);
}

.side-content__category__nav__list .category__secondnav.snav02 {
    background-image: url("../images/snav02-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.9);
}

.side-content__category__nav__list .category__secondnav.snav03 {
    background-image: url("../images/snav03-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.9);
}

.side-content__category__nav__list .category__secondnav.snav04 {
    background-image: url("../images/snav04-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.9);
}

.side-content__category__nav__list .category__secondnav.snav05 {
    background-image: url("../images/snav05-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.9);
}

.side-content__category__nav__list .category__secondnav.snav06 {
    background-image: url("../images/snav06-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.9);
}

.side-content__category__nav__list .category__secondnav.snav07 {
    background-image: url("../images/snav07-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.9);
}

.side-content__category__nav__list .category__secondnav.snav08 {
    background-image: url("../images/snav08-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.9);
}

.side-content__category__nav__list .category__secondnav.snav09 {
    background-image: url("../images/snav09-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.9);
}

.side-content__category__nav__list .category__secondnav.snav10 {
    background-image: url("../images/snav10-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.9);
}

.side-content__category__nav__list .category__secondnav.snav11 {
    background-image: url("../images/snav11-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.9);
}

.side-content__category__nav__list .category__secondnav.snav12 {
    background-image: url("../images/snav12-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.9);
}

.side-content__category__nav__list .category__secondnav.snav13 {
    background-image: url("../images/snav13-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.9);
}

.side-content__category__nav__list:hover {
    background: #FCF1C9;
}

.side-content__category__nav__list:hover .category__secondnav {
    visibility: visible;
}

.side-content__news__cont {
    background: #fff none repeat scroll 0 0;
    padding: 10px 5px 10px 10px;
}

.side-content__news__cont .side-content__news__nav {
    height: 490px;
    overflow-y: scroll;
}

.side-content__news__cont .side-content__news__nav__list {
    padding: 12px 5px 15px;
    border-bottom: #534439 1px dotted;
    font-size: 1.2rem;
}

.side-content__news__cont .side-content__news__nav__list .news-cont__date {
    font-weight: bold;
    margin-bottom: 5px;
}

.side-content__news__cont .side-content__news__nav__list .news-cont__txt {
    font-weight: normal;
}

.side-content__news__cont .side-content__news__nav__list .news-cont__txt a {
    text-decoration: underline;
}

.side-content__news__cont .side-content__news__nav__list .news-cont__txt a:hover {
    color: #DA3C14;
}

.side-content__news__cont .side-content__news__nav__list:last-child {
    border-bottom: none;
}

.side-content__blog {
    background: #fff none repeat scroll 0 0;
    padding: 10px;
}

.side-content__blog__cont .blog-cont {
    padding: 12px 5px 15px;
    border-bottom: #534439 1px dotted;
    font-size: 1.2rem;
}

.side-content__blog__cont .blog-cont__date {
    font-weight: bold;
    margin-bottom: 5px;
}

.side-content__blog__cont .blog-cont__txt {
    font-weight: normal;
}

.side-content__blog__cont .blog-cont__txt:hover {
    color: #DA3C14;
}

/*======================================================
	メインページ
======================================================*/
.sub-page .main-content {
    background: #fff none repeat scroll 0 0;
    padding: 20px;
    min-height: 1000px;
}

/*======================================================
	フッター
======================================================*/
.footer-top {
    background: #FFFFFF;
}

.footer-top .inner {
    width: 1050px;
    overflow: hidden;
    padding: 10px 0 70px;
}

.footer-top__l {
    float: left;
    width: 500px;
}

.footer-top__r {
    float: right;
    width: 500px;
}

.footer-top__cont {
    margin: 35px 0;
}

.footer-top__cont__ttl {
    font-weight: bold;
    font-size: 2rem;
    padding: 5px 0;
    border-bottom: #7D6655 1px solid;
    margin-bottom: 15px;
}

.footer-top__cont__txt {
    margin: 15px 0;
}

.footer-top__cont__txt span {
    font-weight: bold;
    display: block;
}

.footer-top__cont .red {
    font-weight: bold;
    color: #D93B13;
    font-size: 1.6rem;
}

.footer-top__cont .blue {
    text-decoration: underline;
    color: #216ECC;
}

.footer-top__cont__btn {
    display: inline-block;
    position: relative;
}

.footer-top__cont__btn:after {
    display: inline-block;
    content: "\f054";
    font-family: 'FontAwesome';
    color: #FFFFFF;
    font-size: 1rem;
    top: 35%;
    right: 7px;
    position: absolute;
}

.footer-top__cont__btn a {
    padding: 10px 30px 10px 25px;
    color: #FFFFFF;
    display: block;
    background: #DA3C14;
    border-radius: 3px;
}

.footer-top__cont__btn a:hover {
    background: #ED5A36;
}

.footer-top__cont__list__list {
    padding-left: 1em;
    text-indent: -1em;
    margin: 10px 0;
}

.footer-bottom {
    background: #3C5829;
}

.footer-bottom .inner {
    overflow: hidden;
    padding: 5px 0;
}

.footer-bottom__logo {
    float: left;
    margin: 0 10px;
}

.footer-bottom__nav {
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 30px;
    padding: 5px 0;
}

.footer-bottom__nav__list {
    color: #FFFFFF;
    padding: 5px 25px;
    border-left: #FFFFFF 1px solid;
}

.footer-bottom__nav__list:last-child {
    border-right: #FFFFFF 1px solid;
}

.footer-bottom__nav__list a:hover {
    opacity: 0.8;
}

.footer-bottom__copy {
    float: right;
    font-size: 1.2rem;
    color: #FFF;
    padding: 10px 0;
    letter-spacing: 0.1rem;
}

/*======================================================
	コンテンツ
======================================================*/
.content__cont {
    overflow: hidden;
    margin: 30px auto;
}

.content__cont:first-child {
    margin: 0 auto 30px;
}

.content .main-content__ttl, .content .side-content__ttl {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 5px 0;
    background: url("../images/content-title-bg.gif") repeat-x bottom center;
    position: relative;
    padding: 1px 0 10px 40px;
}

.content .main-content__ttl:before, .content .side-content__ttl:before {
    content: "";
    width: 34px;
    height: 34px;
    left: 0;
    top: 0;
    position: absolute;
}

/*======================================================
	Wordpress
======================================================*/
img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.alignright {
    display: inline;
    margin: 0 0 10px 20px;
}

img.alignleft {
    display: inline;
    margin: 0 20px 10px 0;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}
