/* Styles
======================================== */
#container{
	background: url(../img/common/lower_bg.jpg);
}


/*gnav*/
#gnav-cover{
	top: 0px;
}
#gnav{
	top: 0px;
	padding:85px 0 10px 0;
}
#header .logo_w{
	display: block;
}
#header .logo_c{
	display: none;
}

/*main*/
.titleSet{
	text-align: center;
	position: relative;
	top: 45%;
	-webkit-transform: translateY(-65%);
	transform: translateY(-65%);
}
.titleSet h2{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size:50px;
	letter-spacing: 0.1em;
	line-height: 1.1;
}
.titleSet p{
	color: #5d524a;
	font-weight: bold;
	line-height: 1.1;
	margin-top: 20px;
	font-size: 18px;
}

/*main*/
#main{
	margin-top: -103px;
	background: url(../img/index/main.jpg)no-repeat center center;
	background-size: cover;
}
#main .txt-set{
	position: relative;
	width: 50%;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
#main .txt-set p{
	margin-top: 20px;
}
#main a img{
	transition-duration: .4s;
}
#main a:hover img{
	opacity: .8;
}

/*contents*/
#contents{
	
}
#contents img{
	max-width: 100%;
	height: auto;
}
#contents h3{
	text-align: center;
}

/* recipe*/
#recipe{
	background: url(../img/index/photo3.jpg)#e8e3df no-repeat top center;
	padding: 500px 0 100px 0;
	text-align: center;
}
#recipe .photo{
	display: none;
}
#recipe .bt_more{
	margin-top: 40px;
	transition-duration: .4s;
}
#recipe .bt_more:hover{
	opacity: .8;
}

/*mizudashi*/
#mizudashi{
	background: url(../img/index/photo1.jpg)no-repeat center center;
	background-size: cover;
	padding: 100px 0 100px 0;
}
#mizudashi .inner{
	max-width: 1080px;
	margin: 0 auto;
	overflow: hidden;
}
#mizudashi .inner .txt-set{
	width: 50%;
	float: right;
	text-align: center;
}
#mizudashi h2{
	margin-bottom: 30px;
}
#mizudashi .photo{
	display: none;
}

/*ice*/
#ice{
	background: url(../img/index/photo2.jpg)no-repeat center top;
	background-size: cover;
	padding: 120px 0 140px 0;
}
#ice .inner{
	max-width: 1080px;
	margin: 0 auto;
}
#ice h2{
	margin-bottom: 30px;
}
#ice p{
	color: #508cdc;
	line-height: 1.6;
}
#ice p + p{
	margin-top: 20px;
}
#ice .photo{
	display: none;
}
#ice p span{
	font-size: 15px;
	font-weight: bold;
	border-bottom: solid 2px #c6e34e;
}
#recipe h2,
#mizudashi h2,
#ice h2{
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
	color: #508cdc;
	font-weight: bold;
	font-size: 24px;
}


/* Responsive Styles
======================================== */
@media only screen and (max-width: 980px) {
	/* recipe*/
	#recipe{
		background: none;
		padding: 0 0 60px 0;
		text-align: center;
	}
	#recipe .photo{
		display: block;
		margin-bottom: 40px;
	}
	/*mizudashi*/
	#mizudashi{
		background: none;
		padding: 0 0 60px 0;
	}
	#mizudashi .inner{
		max-width: 100%;
		margin: 0 auto;
		overflow: hidden;
	}
	#mizudashi .inner .txt-set{
		width: 80%;
		float: none;
		text-align: center;
		margin: 0 auto;
	}
	#mizudashi h2{
		margin-bottom: 30px;
	}
	#mizudashi .photo{
		display: block;
		margin-bottom: 40px;
	}
	#mizudashi .photo img{
		max-width: 100%;
		height: auto;
	}
	/*ice*/
	#ice{
		background: none;
		padding: 0 0 60px 0;
	}
	#ice .inner{
		max-width: 100%;
		margin: 0 auto;
	}
	#ice .inner .txt-set{
		width: 90%;
		float: none;
		text-align: left;
		margin: 0 auto;
	}
	#ice h2{
		margin-bottom: 30px;
		text-align: center;
	}
	#ice p{
		color: #508cdc;
		line-height: 1.6;
	}
	#ice p + p{
		margin-top: 20px;
	}
	#ice .photo{
		display: block;
		margin-bottom: 40px;
	}
	#ice .photo img{
		max-width: 100%;
		height: auto;
	}
}
@media only screen and (max-width: 480px) {
	#header .logo_w{
		display: none;
	}
	#header .logo_c{
		display: block;
	}
	/*main*/
	#main{
		margin-top: -100px;
		background: url(../img/index/main_sp.jpg)no-repeat bottom center;
		background-size: cover;
	}
	#main .txt-set{
		position: relative;
		width: 100%;
		text-align: center;
		top: 5px;
		-webkit-transform: none;
		transform: none;
	}
	#main h1 img{
		width: 85px;
		height: auto;
	}
	#main p.txt img{
		max-width: 75%;
		height: auto;
	}
	#main p.bt_more img{
		width: 190px;
		height: auto;
	}
	#main .txt-set p{
		margin-top: 18px;
	}
}