/* WEB FONTS
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);


/* RESET
======================================== */
a, abbr, acronym, address, applet, article, aside, audio, 
b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed, 
fieldset, figcaption, figure, form, footer, 
header, hgroup, h1, h2, h3, h4, h5, h6, html, 
i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,
object, ol, output, p, pre, q, ruby, 
s, samp, section, main, small, span, strike, strong, sub, summary, sup, 
tt, table, tbody, textarea, tfoot, thead, time, tr, th, td,
u, ul, var, video { 
	font-family: inherit; 
	font-size: 100%; 
	font-weight: inherit; 
	font-style: inherit; 
	vertical-align: baseline; 
	white-space: normal;
	/*text-align: left;*/ 
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0;
	background: transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, main { 
	display: block; 
}								  
ol, ul { 
	list-style: none; 
}
blockquote, q {
	quotes: none; 
}
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}
img{
	vertical-align:bottom;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
::selection {background: #508cdc; color: #fff;}
::-moz-selection {background: #508cdc; color: #fff;}

/* clear */
.clearFix:after{
	content:".";clear:both;display:block;line-height:0;height:0;visibility:hidden;
}
.clearFix{
	zoom:1;
}

/* link */
a:link { color: #6e8219; text-decoration:none; }
a:visited { color: #6e8219; text-decoration:none; }
a:hover { color: #bd9f29; text-decoration:none; }
a:active { color: #bd9f29; text-decoration:none; }


/* Common
======================================== */
body{
	font-family:"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size:15px;
	-webkit-text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	color:#333;
}

.pc_ver{ display:block; }
.tab_ver{ display:none; }
.sp_ver{ display:none; }

/*header*/
#header{
	height: 103px;
	position: relative;
	text-align: center;
	z-index: 9999;
}
#header h1{
	position: absolute;
	top:5px;
	left: 50%;
	margin-left: -53px;
}
#header .kyoei{
	position: absolute;
	left: 20px;
	top:25px;
}

/*gnav*/
#gnav-cover{
	display: none;
	position: absolute;
	background: rgba(80,140,220,.8);
	top: 80px;
	width: 100%;
	z-index: 8000;
}
#gnav{
	text-align: center;
	display: none;
	position: absolute;
	background: #fff;
	width: 100%;
	z-index: 10;
	font-size: 0;
	top: 80px;
	padding:100px 0 10px 0;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
	z-index: 8001;
}
#gnav .box{
	border-top: dotted #DADADA 1px;
	padding: 15px 0;
}
#gnav p{
	font-size: 18px;
	font-weight: bold;
	line-height: 1.1;
	color: #fff;
	margin-bottom: 10px;
}
#gnav li{
	font-size: 16px;
	font-weight: bold;
}
#gnav li a{
	background: #fff;
	padding: 10px 0 8px 0;
	display: block;
	border-radius: 5px;
	transition-duration: .2s;
}
#gnav li a:hover{
	opacity: .7;
}
#gnav ul{
	max-width: 550px;
	margin: 0 auto;
}
/*------------*/
#gnav .mizudashi li{
	display: inline-block;
	width: 48%;
	margin: .5%;
}
#gnav .mizudashi li a{
	color: #fff;
	background: #508cdc;
}
/*------------*/
#gnav .tea p{
	color: #55b93c;
}
#gnav .tea li{
	display: inline-block;
	width: 48%;
	margin: .5%;
}
#gnav .tea li a{
	color: #fff;
	background: #55b93c;
}
/*------------*/
#gnav .matcha li{
	display: inline-block;
	width: 97%;
	margin: 1.5%;
}
#gnav .matcha li a{
	color: #fff;
	background: #459231;
}
/*------------*/
#gnav .blacktea p{
	color: #d87322;
}
#gnav .blacktea li{
	display: inline-block;
	width: 48%;
	margin: .5%;
}
#gnav .blacktea li a{
	color: #fff;
	background: #d87322;
}
/*------------*/
#gnav .coffee p{
	color: #5b4534;
}
#gnav .coffee li{
	display: inline-block;
	width: 48%;
	margin: .5%;
}
#gnav .coffee li a{
	color: #fff;
	background: #5b4534;
}

/*menu btn*/
#menu-btn{
	display: inline-block;
	position:absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #508cdc;
	top:12px;
	right:20px;
	cursor:pointer;
	z-index: 9999;
}
#menu-btn:hover{
  background: #a2a2a2;
}
#menu-btn-icon{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 2px;
	margin: -1px 0 0 -15px;
	background: #fff;
	transition: .2s;
}
#menu-btn-icon:before, #menu-btn-icon:after{
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 30px;
	height: 2px;
	background: #fff;
	transition: .2s;
}
#menu-btn-icon:before{
	margin-top: -10px;
}
#menu-btn-icon:after{
	margin-top: 8px;
}
#menu-btn .close{
	background: transparent;
}
#menu-btn .close:before, #menu-btn .close:after{
	margin-top: 0;
}
#menu-btn .close:before{
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
#menu-btn .close:after{
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

/*main*/
#main{
	margin-top: -23px;
}

/* footer */
#footer{
	background: url(../img/common/wave_footer.png) repeat-x;
	height: 163px;
	margin-top: -23px;
	position: relative;
	z-index: 9000;
}
#footer .footer-left{
	position: absolute;
	left: 30px;
	top:55px;
}
#footer .footer-left img{
		width:184px;
		height: auto;
	}
#footer .footer-left p{
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 11px;
	margin-top: 10px;
}
#footer .btn_pagetop a{
	position: absolute;
	right: 30px;
	top:55px;
	transition-duration: .4s;
}
#footer .btn_pagetop a:hover{
	opacity: .7;
}
#footer-btm{
	background: #2b6bd7;
	padding: 20px 0 20px 0;
	border-top: dotted 1px #85afe7;
}
#footer-btm .contact{
	padding-left: 30px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.8;
}
#footer-btm .contact a{
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}
#footer-btm .contact a:hover{
	color: #b9d1f1;
}
#footer-banner {
	background: #fff;
	padding: 40px 0 40px 0;
}
#footer-banner .banner-list{
	overflow: hidden;
	width: 980px;
	margin: 0 auto;
	font-size: 0;
}
#footer-banner .banner-list li{
	display: inline-block;
	width: 20%;
	text-align: center;
	padding: 0 20px;
}
#footer-banner .banner-list li img{
	padding: 0 5px;
	max-width: 100%;
	height: auto;
}

/* Responsive Styles
======================================== */
@media only screen and (max-width: 980px) {
	.pc_ver{ display:none; }
	.tab_ver{ display:block; }
	.sp_ver{ display:none; }
	
	#footer-btm .contact{
		padding-left: 0;
		width: 90%;
		margin: 0 auto;
	}
	#footer-banner {
		background: #fff;
		padding: 40px 0 25px 0;
	}
	#footer-banner .banner-list{
		padding-left: 0;
		width: 90%;
		margin: 0 auto;
	}
	#footer-banner .banner-list li{
		vertical-align: middle;
		width: 33.3333%;
		margin-bottom: 15px;
	}
	#footer-banner .banner-list li img{
		max-width: 100%;
		height: auto;
	}
}
@media only screen and (max-width: 480px) {
	.pc_ver{ display:none; }
	.tab_ver{ display:block; }
	.sp_ver{ display:block; }
	
	/*header*/
	#header{
		height: 103px;
		position: relative;
		text-align: center;
	}
	#header h1{
		position: absolute;
		top:5px;
		left: 50%;
		margin-left: -40px;
	}
	#header h1 img{
		width: 80px;
		height: auto;
	}
	#header .kyoei{
		position: absolute;
		left: 15px;
		top:30px;
	}
	#header .kyoei img{
		width:120px;
	}
	
	/*gnav*/
	#gnav{
		top: 40px;
	}
	#gnav .box{
		padding: 8px 0;
	}
	#gnav p{
		font-size: 16px;
		margin-bottom: 6px;
	}
	#gnav li{
		font-size: 14px;
	}
	#gnav li a{
		padding: 8px 0 6px 0;
	}
	
	/* footer */
	#footer .footer-left{
		position: absolute;
		left: 15px;
		top:55px;
	}
	#footer .footer-left p{
		color: #fff;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 9px;
		margin-top: 10px;
	}
	#footer .footer-left img{
		width:184px;
		height: auto;
	}
	#footer .btn_pagetop img{
		width: 50px;
		height: auto;
	}
	#footer .btn_pagetop a{
		position: absolute;
		right: 15px;
		top:55px;
		transition-duration: .4s;
	}
	#footer .btn_pagetop a:hover{
		opacity: .7;
	}
	#footer-banner {
		padding: 20px 0 20px 0;
	}
	#footer-banner .banner-list li{
		padding: 0 0;
	}
}