/* Styles
======================================== */
/*header*/
.recipe #header{ background: url(../img/common/wave_mizudashi.png) repeat-x center; background-size: 980px 102px; }
.tea #header{ background: url(../img/common/wave_tea.png) repeat-x center; background-size: 980px 102px; }
.matcha #header{ background: url(../img/common/wave_matcha.png) repeat-x center; background-size: 980px 102px; }
.blacktea #header{ background: url(../img/common/wave_blacktea.png) repeat-x center; background-size: 980px 102px; }
.coffee #header{ background: url(../img/common/wave_coffee.png) repeat-x center; background-size: 980px 102px; }

/*main*/
.titleSet{
	text-align: center;
	position: relative;
	top: 45%;
	-webkit-transform: translateY(-65%);
	transform: translateY(-65%);
}
.titleSet h2{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size:50px;
	letter-spacing: 0.1em;
	line-height: 1.1;
}
.titleSet p{
	color: #5d524a;
	font-weight: bold;
	line-height: 1.1;
	margin-top: 20px;
	font-size: 18px;
}

.recipe #main{
	background: url(../img/recipe/main.jpg)no-repeat center center;
	background-size: cover;
}
/*茶葉*/
.tea .leaf #main{
	background: url(../img/tea_leaf/main.jpg)no-repeat bottom center;
	background-size: cover;
}
.tea .teabag #main{
	background: url(../img/tea_teabag/main.jpg)no-repeat bottom center;
	background-size: cover;
}
.tea .teapack #main{
	background: url(../img/tea_teapack/main.jpg)no-repeat bottom center;
	background-size: cover;
}
.tea .instant #main{
	background: url(../img/tea_instant/main.jpg)no-repeat bottom center;
	background-size: cover;
}
.tea .titleSet h2{color: #55b93c;}
/*抹茶*/
.matcha #main{
	background: url(../img/matcha/main.jpg)no-repeat bottom center;
	background-size: cover;
}
.matcha .titleSet h2{color: #459231;}
/*紅茶*/
.blacktea .leaf #main{
	background: url(../img/blacktea_leaf/main.jpg)no-repeat bottom center;
	background-size: cover;
}
.blacktea .teabag #main{
	background: url(../img/blacktea_teabag/main.jpg)no-repeat bottom center;
	background-size: cover;
}
.blacktea .titleSet h2{color: #d87322;}
/*コーヒー*/
.coffee .beans #main{
	background: url(../img/coffee_beans/main.jpg)no-repeat bottom center;
	background-size: cover;
}
.coffee .bag #main{
	background: url(../img/coffee_bag/main.jpg)no-repeat bottom center;
	background-size: cover;
}
.coffee .titleSet h2{color: #5b4534;}

/*contents*/
#contents{
	max-width: 980px;
	margin: 0 auto;
	padding: 70px 0 0 0;
}
#contents img{
	max-width: 100%;
	height: auto;
}
#contents h3{
	text-align: center;
}

/*recipe-list*/
.recipe #contents{
	padding: 70px 0 100px 0;
}
.recipe #contents h3{
	margin-bottom: 50px;
}
.recipe #contents .tea a{
	color: #55b93c;
}
.recipe #contents .matcha a{
	color: #459231;
}
.recipe #contents .blacktea a{
	color: #d87322;
}
.recipe #contents .coffee a{
	color: #5b4534;
}
.recipe #contents .tea a img,
.recipe #contents .matcha a img,
.recipe #contents .blacktea a img,
.recipe #contents .coffee a img{
	transition-duration: .4s;
}
.recipe #contents .tea a:hover img,
.recipe #contents .matcha a:hover img,
.recipe #contents .blacktea a:hover img,
.recipe #contents .coffee a:hover img{
	opacity: 0.7;
}
#contents .recipe-list{
	max-width: 980px;
	margin: 0 auto;
	font-size: 0;
	border-top: dotted 1px rgba(0,0,0,.3);
	padding-top: 30px;
	margin-top: 30px;
}
#contents .recipe-list img{
	max-width: 100%;
	height: auto;
}
#contents .recipe-list li{
	display: inline-block;
	vertical-align: top;
	width: 20%;
}
#contents .category-name{
	text-align: center;
	padding-top: 50px;
}
#contents .category-name img{
	max-width: 120px;
	height: auto;
}
#contents .recipe-list li dt{
	padding: 0 10px;
}
#contents .recipe-list li dd{
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}


/*material set*/
#contents .material-set{
	position: relative;
	height: 450px;
	margin-top: 65px;
}
#contents .material-set h4{
	padding-bottom: 10px;
	border-bottom: solid 1px rgba(255,255,255,.5);
}
#contents .photo{
	position: absolute;
	z-index: 2;
	width: 650px;
}
#contents .material{
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 0;
	width: 350px;
	padding: 40px 40px 40px 60px;
	color: #fff;
}
#contents .material li{
	padding: 12px 0 10px 0;
	border-bottom: dotted 1px rgba(255,255,255,.5);
}
#contents .material li:last-child{
	padding: 10px 0 0 0;
	border-bottom: none;
}
/*step list*/
#contents .step-list{
	font-size: 0;
	margin-top: 50px;
}
#contents .step-list li{
	display: inline-block;
	vertical-align: top;
	width: 25%;
}
#contents .step-list dt{
	padding: 0 20px;
}
#contents .step-list dd{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}
#contents .step-caption{
	margin-top: 30px;
	padding: 30px 20px 0 20px;
	font-size: 13px;
	font-weight: bold;
}
#contents .step-caption li{
	text-indent: -1.2em;
	margin-left: 1.2em;
	margin-bottom: 5px;
	line-height: 1.4;
}
#contents .step-caption li:last-child{
	margin-bottom: 0;
}

/*お茶*/
.tea #contents .material{ background: #55b93c; }
.tea .step-list{ color: #55b93c; }
.tea .step-caption{ color: #55b93c; border-top: dotted 1px #55b93c;}
/*抹茶*/
.matcha #contents .material{ background: #459231; }
.matcha .step-list{ color: #459231; }
.matcha .step-caption{ color: #459231; border-top: dotted 1px #459231; }
/*紅茶*/
.blacktea #contents .material{ background: #d87322; }
.blacktea .step-list{ color: #d87322; }
.blacktea .step-caption{ color: #d87322; border-top: dotted 1px #d87322; }
/*コーヒー*/
.coffee #contents .material{ background: #5b4534; }
.coffee .step-list{ color: #5b4534; }
.coffee .step-caption{ color: #5b4534; border-top: dotted 1px #5b4534; }

.matcha .movie{
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.matcha .movie iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.matcha .label{
	position: absolute;
	right: 170px;
	top: -10px;
}


/*products*/
#products{
	background: url(../img/common/products_bg.jpg);
	padding: 60px 0 100px 0;
	margin-top: 60px;
}
#products .inner{
	max-width: 980px;
	margin: 0 auto;
}
#products img{
	max-width: 100%;
	height: auto;
}
#products h4{
	margin-bottom: 30px;
}
#products h5{
	background: url(../img/common/ttl_products_line.png) repeat-x bottom;
	font-size: 18px;
	font-weight: bold;
	color: #2e70c0;
	margin-bottom: 15px;
	padding-bottom: 10px;
}
#products .caption{
	margin-top: 20px;
	font-size: 13px;
	margin-left: 1em;
	text-indent: -1em;
}
#products ul{
	font-size: 0;
}
#products ul + h5,
#products p.caption + h5{
	margin-top: 30px;
}
#products li{
	display: inline-block;
	vertical-align: top;
	background: #fff;
	width: 24%;
	margin: 0 1% 1% 0;
	text-align: center;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,.1);
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,.1);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,.1);
}
#products li dd{
	padding: 15px 10px 12px 10px;
	font-size: 14px;
	font-weight: bold;
}
#products li p{
	line-height: 1.4;
}
#products li dd a{
	margin-top: 10px;
	font-size: 13px;
	background: #73a3e3;
	display: inline-block;
	line-height: 1.1;
	color: #fff;
	height: 25px;
	padding: 6px 12px;
	border-radius: 15px;
	transition-duration: .4s;
}
#products li dd a:hover{
	background: #2d58c0;
}

/* Responsive Styles
======================================== */
@media only screen and (max-width: 980px) {
	#contents .recipe-list{
		text-align: center;
	}
	#contents .recipe-list li{
		width: 25%;
	}
	#contents .recipe-list li.category-name{
		text-align: center;
		padding-top: 0px;
		margin-bottom: 20px;
		width: 100%;
		display: block;
	}
	
	/*main*/
	.titleSet{
		text-align: center;
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.titleSet h2{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size:32px;
		letter-spacing: 0.1em;
		line-height: 1.1;
	}
	.titleSet p{
		color: #5d524a;
		font-weight: bold;
		line-height: 1.1;
		margin-top: 15px;
		font-size: 16px;
	}
	/*contents*/
	#contents{
		padding: 50px 0 0 0;
	}
	#contents h3{
		font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
		font-weight: bold;
		font-size: 18px;
		text-align: left;
	}
	#contents h3 span{
		font-size: 14px;
	}
	.tea #contents h3{color: #55b93c;}
	.matcha #contents h3{color: #459231;}
	.blacktea #contents h3{color: #d87322;}
	.coffee #contents h3{color: #5b4534;}
	
	.matcha .label{
		display: none;
	}
	
	/*material set*/
	#contents .material-set{
		position: relative;
		height: auto;
		margin-top: 30px;
	}
	#contents .photo{
		position: static;
		width: 100%;
	}
	#contents .material{
		position: static;
		width: 100%;
		padding: 25px 20px 25px 20px;
	}
	/*step list*/
	#contents .step-list{
		margin-top: 30px;
	}
	#contents .step-list li{
		width: 50%;
		margin-bottom: 20px;
	}
	#contents .step-list dt{
		padding: 0 40px;
	}
	#contents .step-list dd{
		padding: 0 20px;
	}
	#contents .step-caption{
		margin-top: 10px;
		padding: 30px 10px 0 10px;
	}
	
	/*products*/
	#products{
		padding: 30px 0 60px 0;
		margin-top: 30px;
	}
	#products .inner{
		width: 90%;
	}
	#products li{
		width: 31%;
		margin: 0 2% 2% 0;
	}
}
@media only screen and (max-width: 480px) {
	#contents .recipe-list{
		margin-top: 14px;
	}
	#contents .recipe-list{
		text-align: center;
	}
	#contents .recipe-list li{
		width: 50%;
		margin-bottom: 15px;
	}
	#contents .recipe-list li.category-name{
		text-align: center;
		padding-top: 0px;
		margin-bottom: 20px;
		width: 100%;
		display: block;
	}
	#contents .category-name img{
		max-width: 85px;
		height: auto;
	}
	
	/*contents*/
	#contents{
		padding: 30px 0 0 0;
	}
	/*step list*/
	#contents .step-list{
		margin-top: 20px;
	}
	#contents .step-list li{
		width: 100%;
		margin-bottom: 20px;
	}
	#contents .step-list li dl{
		width: 80%;
		margin: 0 auto;
	}
	#contents .step-list dd{
		padding: 0;
	}
	#contents .step-caption{
		margin-top: 10px;
		padding: 30px 10px 0 10px;
	}
	
	/*products*/
	#products li{
		width: 48%;
		margin: 0 2% 2% 0;
	}
	#products h4{
		width: 90%;
	}
	#products h4 img{
		max-width: 100%;
	}
	#products li{
		box-shadow: 1px 1px 1px 0px rgba(0,0,0,.1);
		-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,.1);
		-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,.1);
	}
}