@charset "utf-8";

/*
  File Name   : info.css
  Description : コンテンツエリア関係 他
*/

/* sp
------------------------------------------------------------ */
@media screen and (max-width: 811px) {
  .hoge {
  }
}

/* hoge
============================================================ */
.hoge {
}

/* section-info
============================================================ */
.section-info {
  /* background-color:#fdfaf3; */
  padding: 40px 0;
}
.section-info .main-title {
  font-size: 30px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  line-height: 1;
  margin: 0 0 36px;
  color: #009961;
  text-align: center;
  letter-spacing: 2px;
}
.section-info .info-body > * {
  padding: 26px 0 26px;
}
.section-info .info-body-wrap {
  border-top: solid 1px #ccc;
}
.section-info .info-body {
  width: 100%;
  border-bottom: solid 1px #ccc;
}
.section-info .info-date {
  max-width: 250px;
  float: left;
  display: block;
  font-size: 15px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.section-info .info-date .date {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  font-weight: bold;
  color: #fdc906;
}
.section-info .info-title .info-date span,
.section-info .info-date .type {
  width: 120px;
  font-size: 14px;
  font-weight: normal;
  background-color: #f6f6f6;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
}
.section-info .info-date .type {
  font-weight: bold;
  line-height: 1;
  padding: 7px 10px 7px;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 2px 0 0;
}
.section-info .info-caption {
  width: 700px;
  display: block;
  float: left;
  margin-left: 15px;
}
.section-info .info-caption span,
.section-info .info-caption a {
  font-size: 15px;
  font-weight: normal;
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
}
.side-nav-active .section-info .info-caption {
  width: 70%;
}
#infos .section-info .info-caption span {
  overflow: visible;
  white-space: normal;
  text-overflow: clip;
}
.section-info .info-caption a {
  text-decoration: underline;
}
.section-info .info-caption a:hover {
  text-decoration: none;
  color: #009961;
}
.detail .section-info .info-body > * {
  padding: 0;
}
.detail .section-info .info-body {
  border-bottom: none;
}

/* sp
------------------------------------------------------------ */
@media screen and (max-width: 811px) {
  .section-info .info-date {
    width: 15%;
  }
  .section-info .info-caption {
    width: 70%;
    float: right;
    /* padding-left: 10px !important; */
    margin-left: 0 !important;
  }
  .section-info .main-title {
    font-size: 24px;
    margin: 0 0 20px;
  }
  .section-info .info-body > * {
    padding: 10px 10px 10px;
  }
  .section-info .info-date {
    width: 100%;
    float: none;
    font-size: 13px;
    padding-bottom: 0;
  }
  .section-info .info-caption {
    width: 95%;
    float: none;
  }
  .section-info .info-caption a {
    font-size: 13px;
  }
  .section-info .info-caption a:hover {
    text-decoration: none;
    color: inherit;
  }

  .side-nav-active .section-info .info-caption {
    width: 90%;
  }
}

/* detail
============================================================ */
.info-category-wrap {
  padding: 0 0 0;
}
.info-category-item li {
  margin: 0 10px 10px 0;
}
.info-category-item img,
.info-type-item img {
  max-height: 24px;
  vertical-align: top;
}
.info-category-item li span {
  display: block;
  width: auto !important;
  padding: 6px 10px;
  font-size: 12px !important;
  line-height: 1;
  color: #fff;
  background-color: #aaa;
}
.info-title {
  padding: 0 0 10px;
  border-bottom: solid 1px #ccc;
}
.info-title .title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
  line-height: 1.4;
}
.info-title .info-date {
  font-size: 16px;
  font-weight: bold;
  color: #888;
}
/* detail */
.detail .info-type-item {
  display: flex;
}
.detail .info-title .title {
  display: block;
}

.detail .info-title .info-com-title {
  display: block;
}
.detail .info-title .info-date {
  padding: 10px 0;
}
.detail .info-title .info-date .date {
  background-color: #fff;
  padding: 5px 0;
}
.detail .info-title .info-date .date::before {
  content: "";
  position: absolute;
  width: 3px !important;
  height: 32px;
  background-color: #009961;
}

.detail .info-title .info-date .info-type {
  padding: 10px;
}
.detail .section-info .info-title .info-date .date {
  font-weight: bold;
}

/* sp
------------------------------------------------------------ */
@media screen and (max-width: 811px) {
  .info-title {
    padding: 0 0 20px;
    margin: 0 0 10px;
  }
  .info-title .title {
    font-size: 18px;
  }
  .info-title .info-date {
    font-size: 14px;
  }
}
