@charset "utf-8";

.cs-hide {
  display: none !important;
}

.cs-pc-br {
  display: block;
}

.cs-mgt-0 {
  margin-top: 0 !important;
}

.cs-mgt--5 {
  margin-top: -5px !important;
}

.cs-mgt--10 {
  margin-top: -10px !important;
}

.cs-mgt-10 {
  margin-top: 10px !important;
}

.cs-mgt-15 {
  margin-top: 15px !important;
}

.cs-mgt-20 {
  margin-top: 20px !important;
}
.cs-mgt-30 {
  margin-top: 30px !important;
}

.cs-mgt-60 {
  margin-top: 60px !important;
}

.cs-mgb-0 {
  margin-bottom: 0 !important;
}

.cs-mgb--1 {
  margin-bottom: -1px !important;
}

.cs-mgb-2 {
  margin-bottom: 2px !important;
}

.cs-mgb-5 {
  margin-bottom: 5px !important;
}

.cs-mgb-10 {
  margin-bottom: 10px !important;
}

.cs-mgb-15 {
  margin-bottom: 15px !important;
}

.cs-mgb-20 {
  margin-bottom: 20px !important;
}

.cs-mgb-25 {
  margin-bottom: 25px !important;
}

.cs-mgb-30 {
  margin-bottom: 30px !important;
}

.cs-mgb-40 {
  margin-bottom: 40px !important;
}

.cs-mgb-50 {
  margin-bottom: 50px !important;
}

.cs-mgb-60 {
  margin-bottom: 60px !important;
}

.cs-mgr-0 {
  margin-right: 0 !important;
}

.cs-mgr-5 {
  margin-right: 5px !important;
}

.cs-mgr-10 {
  margin-right: 10px !important;
}

.cs-mgr-15 {
  margin-right: 15px !important;
}

.cs-mgr-20 {
  margin-right: 20px !important;
}

.cs-mgr-30 {
  margin-right: 30px !important;
}

.cs-mgr-40 {
  margin-right: 40px !important;
}

.cs-mgr--15 {
  margin-right: -15px !important;
}

.cs-mgr--40 {
  margin-right: -40px !important;
}

.cs-mgr--60 {
  margin-right: -60px !important;
}

.cs-mgl--80 {
  margin-left: -80px !important;
}

.cs-mgl--180 {
  margin-left: -180px !important;
}

.cs-mgl--275 {
  margin-left: -275px !important;
}

.cs-mgl-0 {
  margin-left: 0 !important;
}

.cs-mgl-10 {
  margin-left: 10px !important;
}

.cs-mgl-15 {
  margin-left: 15px !important;
}

.cs-mgl-20 {
  margin-left: 20px !important;
}

.cs-mgl-30 {
  margin-left: 30px !important;
}

.cs-mgl-40 {
  margin-left: 40px !important;
}

.cs-mgl-165 {
  margin-left: 165px !important;
}

.cs-mgt--100 {
  margin-top: -60px !important;
}

.cs-mgt--40 {
  margin-top: -40px !important;
}

/* Padding part
============================================================ */

.cs-pdt-0 {
  padding-top: 0 !important;
}

.cs-pdt-2 {
  padding-top: 2px !important;
}

.cs-pdt-5 {
  padding-top: 5px !important;
}

.cs-pdt-10 {
  padding-top: 10px !important;
}

.cs-pdt-20 {
  padding-top: 20px !important;
}

.cs-pdt-30 {
  padding-top: 30px !important;
}
.cs-pdt-60 {
  padding-top: 60px !important;
}

.cs-pdt-15 {
  padding-top: 15px !important;
}

.cs-pdt-20 {
  padding-top: 20px !important;
}

.cs-pdb-0 {
  padding-bottom: 0 !important;
}

.cs-pdb-5 {
  padding-bottom: 5px !important;
}

.cs-pdb-20 {
  padding-bottom: 20px !important;
}

.cs-pdb-80 {
  padding-bottom: 80px !important;
}

.cs-pdb-10 {
  padding-bottom: 10px !important;
}

.cs-pdl-0 {
  padding-left: 0 !important;
}

.cs-pdl-10 {
  padding-left: 10px !important;
}

.cs-pdl-15 {
  padding-left: 15px !important;
}

.cs-pdl-20 {
  padding-left: 20px !important;
}

.cs-pdl-25 {
  padding-left: 25px !important;
}

.cs-pdl-30 {
  padding-left: 30px !important;
}

.cs-pdl-40 {
  padding-left: 40px !important;
}

.cs-pdl-50 {
  padding-left: 50px !important;
}

.cs-pdl-60 {
  padding-left: 60px !important;
}

.cs-pdr-20 {
  padding-right: 20px !important;
}

.cs-pdr-0 {
  padding-right: 0 !important;
}

.cs-pdr-10 {
  padding-right: 10px !important;
}

.cs-pdl-12 {
  padding-left: 12px !important;
}

/* table
============================================================ */

table.mod-table-basic {
  width: 100%;
  border-left: solid 1px #ddd;
  border-top: solid 1px #ddd;

  th, td {
    padding: 8px 10px;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
  }

  th {
    background: #f3f3f3;
    vertical-align: top;
    width: 20%;
  }

  td {
    background: #fff;
  }
}

/* sp table
------------------------------------------------------------ */
@media screen and (max-width: 811px) {
  table.mod-table-basic {
    border-left: none;

    th, td {
      border-right: none;
      width: 100%;
      display: block;
    }
  }
}

/* icon
============================================================ */
/* arrow right */

.mod-icon-caret-right, .mod-icon-chevron-right {
  position: relative;
}

.mod-icon-caret-right:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  width: 5px;
  height: 5px;
  border: 5px solid transparent;
  border-left: 5px solid #666;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  box-sizing: border-box;
}

.mod-icon-chevron-right:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  width: 4px;
  height: 4px;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
}

/* plus */

.mod-icon-plus {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 10px;
    height: 2px;
    background-color: #666;
    transform: translateY(-50%);
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 10px;
    height: 2px;
    background-color: #666;
    transform: translateY(-50%);
    top: 0;
    left: 50%;
    width: 2px;
    height: 10px;
    transform: translateY(0);
    transform: translateX(-50%);
  }
}


.mod-tab-detail {
  clear: both;
  width: 100%;
  height: auto;
  padding: 0 0 0;
  z-index: 1;

  > * a.active {
    display: block;
  }
}

.js-tabbox {
  display: none;
}

/* input[type="checkbox"]
============================================================ */

.mod-checkbox-orig {
  input[type="checkbox"] {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  label {
    position: relative;
    display: inline-block;
    word-break: break-all;
    cursor: pointer;

    input[type="checkbox"] + span {
      position: relative;
      padding: 0 30px 0 30px;
    }

    span {
      display: inline-block;
      font-size: 13px;
      line-height: 2.2;
    }

    input[type="checkbox"] {
      position: absolute;
      top: -18px;
      left: 0;
      opacity: 0;

      + span {
        &:before, &:after {
          content: '';
          position: absolute;

          /*top: -18px;*/
          left: 0;
          display: inline-block;
          box-sizing: border-box;
        }

        &:before {
          z-index: 0;
          background-color: transparent;
          width: 22px;
          height: 22px;
          border: 2px #888 solid;
          border-radius: 5px;
          background-color: #fff;
        }
      }
    }
  }

  input[type="checkbox"] + span:after {
    z-index: 1;
    margin: 5px 8px;
    width: 6px;
    height: 9px;
  }

  label input[type="checkbox"]:checked + span {
    &:before {
      background-color: #888;
    }

    &:after {
      border: 2px solid #fff;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

/* input[type="radio"]
==================================================================================================== */

.mod-radio-orig {
  input[type="radio"] {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &:after {
    display: block;
    content: '';
    clear: both;
  }

  label {
    position: relative;
    display: inline-block;
    word-break: break-all;
    cursor: pointer;

    input[type="radio"] + span {
      position: relative;
      padding: 0 20px 0 28px;
    }

    span {
      display: inline-block;
      font-size: 13px;
      line-height: 1.4;
    }

    input[type="radio"] {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;

      + span:before {
        position: absolute;
        display: inline-block;
        content: '';
        box-sizing: border-box;
        border-radius: 18px;
        z-index: 0;
        top: 0;
        left: 0;
        background-color: transparent;
        width: 18px;
        height: 18px;
        border: 2px #888 solid;
      }

      &:checked + span:before {
        border-width: 6px;
      }
    }
  }
}

/* selectbox
==================================================================================================== */

.mod-selectbox-orig {
  display: inline-block;
  min-width: 200px;
  margin: 0 0 0 0;
  position: relative;

  &.mod-selectbox-icon-caret:after {
    content: "";
    position: absolute;
    top: 60%;
    right: 15px;
    width: 5px;
    height: 5px;
    box-sizing: border-box;
    border: 5px solid transparent;
    border-top: 5px solid #111;
    -webkit-transform: rotate(0deg) translateY(-50%);
    transform: rotate(0deg) translateY(-50%);
    pointer-events: none;
  }

  &.mod-selectbox-icon-chevron:after {
    content: "";
    position: absolute;
    top: 45%;
    right: 20px;
    width: 5px;
    height: 5px;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    -webkit-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
    pointer-events: none;
  }

  select {
    /* display: inline-block; */
    /* border: solid 1px #aaa; */
    width: 100%;
    height: 36px;

    /* margin: 0 0 0 0; */
    /* padding: 5px 30px 5px 10px; */
    border-radius: 0 0 0 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    option:first-child {
      color: #000;
    }
  }
}

select::-ms-expand {
  display: none;
}

/* utiiities
============================================================ */
/*** float ***/

.mod-clear {
  clear: both;
}

/*** speak ***/

.mod-skip-contents {
  speak: none;
}

/*** hide ***/

.mod-hide {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  text-align: left;
  text-indent: -9999px;
}

/*** clearfix ***/

.mod-clearfix {
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

/*** align ***/

.mod-align_r {
  text-align: right !important;
}

.mod-align_c {
  text-align: center !important;
}

.mod-align_l {
  text-align: left !important;
}

.mod-justify {
  text-align: justify;
}

/*** panel layout ***/

.mod-panel-layout {
  display: table;
  width: 100%;
  overflow: hidden;
  table-layout: fixed;
  word-spacing: -.4em;
  display: block\9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  .panel-layout-child {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    word-spacing: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }

  > {
    article, figure, li, div, p, section {
      display: inline-block;
      margin: 0;
      padding: 0;
      vertical-align: top;
      word-spacing: normal;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}

.cs-text-color-red {
  color: #dc2541 !important;
}

.sub-name {
  display: block;
  font-size: smaller;
  color: #1b291e !important;
  font-weight: normal;
}

.cs-title-br {
  display: block;
}

.cs-sp-br {
  display: inline-block;
}

@media screen and (max-width: 811px) {

  .cs-title-br {
    display: inline-block;
  }

  .cs-sp-br {
    display: block;
  }

  .product_list .item {
    .img img {
      padding: 0 !important;
    }
    .sub-img.sale-icon {
      display: none !important;
    }
  }

}

.cs-mail.com-kv-area-wrap-bg {
  .com-page-title-wrap {
    height: 600px;
    width: 100%;
    .title-jp {
      line-height: 2.2;
      font-size: 24px;
    }
  }
}